.about-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -55%);
}


.about-text h1 {
    text-align: center;
    font-family: 'PressStart2P', sans-serif; /* Optional: Match the desired font */
    font-size: 2vw; /* Adjust size as needed */
    margin: 30px 0; /* Add spacing between lines */
    color: #000; /* Adjust text color */
}

@media (max-width: 700px) {
    .about-text{
        transform: translate(-45%, -55%);
    }
    .about-text h1{
        font-size: 1rem;
        margin-right: 25px;
    }


}