
.back-button {
    width: clamp(150px, 10vw, 200px);
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 8%;
    top: 12%;
    z-index: 4;
}

.back-button:hover {
    transform: scale(1.15);
}

@media (max-width: 768px) {
    .back-button {
        width: 25vw;
        left: 37%;
        top: 13%;
    }
}
