.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: clamp(5%, 14%, 15%); /* min 5% from bottom, scales, max 15% */
    font-size: clamp(10px, 3vw, 16px);  /* smaller min for phones */
}

.copyright {
    font-size: 4vw

}

.year {
   color: #fd395e; 
}

.hyve-text {
    color: #0ea1ec;
}


@media (min-width: 768px) {
    .footer {
        font-size: 1vw;
        bottom: 15%;
    }

    .copyright {
        font-size: 1.3vw;
        width: 1.9vw;
    }



}