.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: clamp(5%, 14%, 15%); /* min 5% from bottom, scales, max 15% */
    font-size: clamp(10px, 3vw, 16px);  /* smaller min for phones */
    word-spacing: 30px;
}

.copyright {
    font-size: clamp(15px, 4vw, 20px);
    width: clamp(30px, 6vw, 30px);
}

.year {
   color: #fd395e; 
}

.hyve-text {
    color: #0ea1ec;
}


@media (min-width: 768px) {
    .footer {
        font-size: clamp(15px, 1vw, 20px);
        bottom: 15%;
    }

    .copyright {
        font-size: clamp(20px, 1.3vw, 20px);
        width: clamp(30px, 1.9vw, 30px);
    }



}