
.game{
    display: flex;
    flex-direction: column;
}

.games-gif {
    width: 30vw;
    height: auto;
}



.games-gif:hover{
    transform: scale(1.02);
}

/* Video-specific adjustments */
.games-gif.video {
    aspect-ratio: 17 / 8.9;   /* YouTube videos */
    max-width: 400vw;       /* optional max size */
    height: auto;           /* scales automatically */
}

.games-caption {
    font-size: 1.1vw;
    text-align: center;
    margin-top: 5%;
    transform: scaleY(1.5);
}

@media (max-width: 768px) {
    .games-gif {
        width: 60vw;
    }

    .games-gif.video {
        width: 60vw;           /* nearly full width */
        aspect-ratio: 16 / 9;  /* keep video visible fully */
        max-height: 50vh;      /* optional to prevent super tall iframe */
    }

    .games-caption {
        font-size: 0.7rem;
        margin-top: 10px;
        width: 60vw;
    }
}
