.gifs {
    width: 15vw;
    height: 100%;
}

.left-side-gifs, .right-side-gifs {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20%;
}

.left-side-gifs {
    left: -6%;

}

.right-side-gifs {
    right: 5%;
}

.caption {
    font-size: 5vw;
    text-align: center;
}