.gifs {
    width: 13vw;
    height: 100%;
}

.gifs:hover {
    transform: scale(1.15);
}

.gif-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-side-gifs, .right-side-gifs {
    display: flex;
    flex-direction: column; /* stack .gif-containers vertically */
    justify-content: center;
    align-items: center; /* center horizontally */
 
    z-index: 9999;
    gap: 10px;
}

.left-side-gifs {
    grid-column: 1;
    grid-row: 2;

    margin-right: 10px;
}

.right-side-gifs {
    grid-column: 2;
    grid-row: 2;
}

.caption {
    font-size: 4vw;
    margin: 0;
    text-shadow: -3px 1px 0px rgba(0, 0, 0, 1);
}


/* Apply to tablets, laptops, desktops — NOT phones */
@media (min-width: 768px) {

.gifs {
    width: 8vw;
    z-index: 1000;
}

.caption {
    font-size: 1.3vw;
}

.left-side-gifs, .right-side-gifs {
    grid-row: 0;
    grid-column: auto;
}
.left-side-gifs {
    margin-right: 0vw;
    align-items: flex-start;
}

.right-side-gifs {
    margin-left: 0vw;
    align-items: flex-end;
}


}