.home-container {
    display: none;
}

.game-gif {
    width: 70vw;
    height: 18vh;
}

.middle-video {
    position: relative;
    top: 25%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-55%) translateY(-90%); /* Center-align horizontally  */
}

.latest-text {
    font-size: 1.0rem;
}

.mid-text {
    font-size: 0.9rem;
    width: 100%;
}

/* Apply to tablets, laptops, desktops — NOT phones */
@media (min-width: 768px) {
    .home-container {
        display: block;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        position: relative;
    }

    .game-gif {
        width: 25vw;
        height: 20vh;
    }

}