
.game-gif {
    width: 70vw;
    height: 18vh;
}

.game-gif:hover {
    transform: scale(1.05);
}

.arrow {
    display: none;
}

.middle-video {
    position: relative;
    top: 25%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-55%) translateY(-80%); /* Center-align horizontally  */
    z-index: 2;
}

.latest-text {
    font-size: 1.0rem;
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.mid-text {
    font-size: 0.9rem;
    width: 100%;
    margin-top: 3px;
    color: transparent;
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
}

/* Apply to tablets, laptops, desktops — NOT phones */
@media (min-width: 768px) {


    .game-gif {
        width: 25vw;
        height: 30vh;
    }

    .middle-video {
        transform: translate(-53%, -5%);
        gap: 5px;
    }

    .mid-text {
        font-size: 1.6rem;
        width: 100%;
        margin-top: 3px;
        -webkit-text-stroke: 0.5px black;
    
    }

    .arrow {
        display: flex;
        width: 2.5vw;
        height: auto;
        animation: wiggle 0.5s infinite ease-in-out;
        margin-top: 20px;
    }

        /* Keyframes for wiggling up and down */
    @keyframes wiggle {
        0%, 100% {
            transform: translateY(0); /* Initial position */
        }
        50% {
            transform: translateY(-10px); /* Move up by 10px */
        }
    }

    .latest-text {
        font-size: 3rem;
        transform: scaleX(1.5) scaleY(2.0);

    }



}