
@font-face {
    font-family: 'PressStart2P';
    src: url('../assets/pressStart2.ttf') format('truetype');
}

.container {
    position: absolute; /* Position relative to the parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-45%, -55%); /* Offset the image to perfectly center it */
    display: flex;
    gap: 14vw;
    flex-direction: column;
}

.site-container {
    display: block;
    max-width: 100%; /* Optional: Make it responsive */
}

.landingText {
    font-size: 7vw;
}

.enter {
    background-color: #ef3026;
    color: white;
    position: absolute;
    font-family: 'PressStart2P', sans-serif;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px 4px;
    font-size: 2vw;
    z-index: 1;
}

.enter:hover {
    box-shadow: none; /* Remove shadow on hover */
    color: black;
}

@media (max-width: 768px) {
    .enter {
        font-size: 0.8rem;
    } 

    .container {
        gap: 20vw;
    }

    .landingText {
        font-size: 2.5rem;
    }

}