.loadingScreen{
  background-color: black;
  width:90vw;
  height: 90vh;
  z-index: -5;
}

.loading {
    width: 60vw;
    position: relative;
    top: 41%;

    animation: slideFade 1.8s ease-in-out forwards;
}

@keyframes slideFade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1; /* fade in */
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0; /* fade out after sliding */
  }
}


@media (min-width: 768px) {
    .loading {
        width: 40vw;
        top: 35%;
    }
}