.loadingScreen{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed; /* stay full screen */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5; /* above everything */

  animation: slideFade 3s ease-in-out forwards;
}

.loading {
    width: clamp(200px, 40vw, 600px); /* scales with screen size */
    max-height: 80vh;                  /* won’t overflow vertically */
    position: relative;
    top: -6%;
    left: 2%;
}

@keyframes slideFade {
  0% { opacity: 1; }
  50% { opacity: 1; } /* fade in to fully visible at halfway */
  100% { opacity: 0; } /* fade out back to invisible */
}


@media (min-width: 768px) {
    .loading {
      width: clamp(400px, 40vw, 600px); /* still responsive but 
      bigger */
      top: -2%;
    }
}