.mind-container {
    flex-direction: column; /* Arrange icons in a row */
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Align icons vertically in the middle */
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 cards per row */
    gap: 10px; /* spacing between cards */
    max-height: 38vh; /* limit container height */
    width: 70vw;
    overflow-y: auto; /* makes it scroll down */

}

.mind-link {
    text-decoration: none;
    color: black;
}

.mind-link:hover{
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.mind-artist {
    font-size: 1.5rem;
}
.mind-artist:hover {
    transform: scale(1.1);
}
.mindImg {
    gap: 2vw; /* Add spacing between icons */
    margin-top: 20px; /* Space between text and icons */
    width: 9vw; /* Set consistent width for all icons */
    height: auto; /* Set consistent height for all icons */
}

.mindImg:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

@media (max-width: 700px) {
    .mindImg {
        width: 30vw;
        height: auto;
        position: relative;
        left: -5%;
        margin-left: 10px;
    }

    .mindText{
        font-size: 2rem;
        text-align: center;
    }

    .mind-artist {
        font-size: 1rem;
    }
}