/* Fonts and Global Styles */
@font-face {
    font-family: 'PressStart2P';
    src: url('../pressStart2.ttf') format('truetype');
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -55%);
}


.text h1 {
    text-align: center;
    font-family: 'PressStart2P', sans-serif; /* Optional: Match the desired font */
    font-size: 2rem; /* Adjust size as needed */
    margin: 30px 0; /* Add spacing between lines */
    color: #000; /* Adjust text color */
}

@media (max-width: 700px) {
    .container{
        transform: translate(-45%, -55%);
    }
    .text h1{
        font-size: 1rem;
        margin-right: 25px;
    }


}
