/* Fonts and Global Styles */
@font-face {
    font-family: 'PressStart2P';
    src: url('../pressStart2.ttf') format('truetype');
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
}



.gif-container {
    display: flex;
    flex-direction: row; /* Arrange the gifs and captions in a row */
    gap: 10px; /* Space between each gif-caption pair */
    transform: translate(-3%, 10%); /* Reset any previous transforms */

}


.gifs {
    width: 30vw; /* Larger size for the gifs */
    height: auto;
    cursor: pointer;
}

.gifs:hover {
    transform: scale(1.02);
}

.gif-caption {
    font-family: 'PressStart2P', sans-serif; /* Match desired font */
    font-size: 1.1rem; /* Text size */
    text-align: center; /* Center-align the text */
    margin-top: 5%; /* Remove default margin */
    transform: scaleY(1.5); /* Center and stretch vertically */

}

@media (max-width: 600px) {
    .gif-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Change to column for phones */
        gap: 15px; /* Adjust spacing between items in column layout */
    }

    .gifs {
        width: 60vw; /* Adjust size for smaller screens */
        height: auto;
    }

    .gif-caption {
        font-size: 0.7rem; /* Adjust caption size for smaller screens */
        margin-top: 5px; /* Smaller spacing for captions */
    }
}