* {
    -webkit-user-drag: none; /* For Safari and Chrome */
}

body {
    overflow: hidden;
    margin: 0;
    background: black;
    cursor: url('/assets/arrow.png') 16 16, auto;
}

/* Main border */
.main-border {
    width: 100%;
    height: 100%;
    background-image: url(/assets/main-border.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Keeps static confined */
    z-index: 99;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 97;
    display: flex;
    align-items: center; /* Vertically center the arrow */
    justify-content: center; /* Horizontally center the arrow */
}

/* Arrow Image */
.loading-arrow {
    width: 20%; /* Adjust size as needed */
    height: auto;
    /* transform: scaleY(1.8); */
    /* animation: pulse 1.5s infinite; */
    z-index: 98;
}

@keyframes pulse {
    0% {
        transform: rotate(270deg) scaleY(1.8) scale(1); /* Longer arrow */
    }
    50% {
        transform: rotate(270deg) scaleY(1.8) scale(1.1); /* Pulse effect */
    }
    100% {
        transform: rotate(270deg) scaleY(1.8) scale(1); /* Return to normal */
    }
}



/* Static effect */
.static {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Places static behind everything */
    background: url(/assets/static_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 50%;
    animation: fuzzy-fade 0.001s infinite
}

/* Fuzzy animation */
@keyframes fuzzy-fade {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.85;
    }
    100% {
        opacity: 0.9;
    }
}

/* Back button styling */
.back-button {
    width: 10vw;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 8%;
    top: 12%;
    z-index: 12; /* Ensures it's above static and main border */
    cursor: pointer;
}


@media (max-width: 700px) {
    /* Styles for phones */
    .back-button {
        width: 25vw;
        left: 37%;
        top: 13%;
    }
}
