/* Fonts and Global Styles */
@font-face {
    font-family: 'PressStart2P';
    src: url('../pressStart2.ttf') format('truetype');
}

.landing-border {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
}

/* Center Container Image */
.site-container {
    display: block;
    position: relative; /* Make positioning of children relative to this container */
    max-width: 100%;
    height: auto;
}

/* GIF Columns */
.left-side-gifs, .right-side-gifs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Vertically center the gifs */
    display: flex;
    flex-direction: column; /* Stack gifs vertically */
    justify-content: center; /* Center gifs within the column */
    align-items: center; /* Ensure gifs are centered horizontally in their column */
    gap: 40px; /* Space between gifs */
}

.left-side-gifs {
    left: -2%; /* Align to the left side of .site-container */
}

.right-side-gifs {
    right: 8%; /* Align to the right side of .site-container */
}

/* Styling for GIFs */
.gifs {
    width: 6vw;
    height: auto;
    object-fit: contain; /* Keeps the aspect ratio of gifs */
}

.gifs:hover{
    transform: scale(1.15);
    cursor: pointer;
}

/* Styling for GIF container and captions */
.gif-container {
    display: flex;
    flex-direction: column; /* Stack the image and caption vertically */
    align-items: center; /* Center align the image and caption */
    gap: 12px; /* Space between the image and caption */
}

.gif-caption {
    font-family: 'PressStart2P', sans-serif; /* Match the font */
    font-size: 20px; /* Adjust text size */
    color: #000; /* Caption text color */
    text-align: center; /* Center-align the caption */
}

.middle-video {
    position: absolute;
    display: flex;
    flex-direction: column; /* Stack "LATEST" and the video vertically */
    align-items: center; /* Center align the content */
    top: 48%; /* Adjust placement relative to the container */
    left: 50%;
    transform: translate(-55%, -40%);
    gap: 20px; /* Space between "LATEST" text and video */

}

.latest-text {
    font-family: 'PressStart2P', sans-serif; /* Match the font */
    font-size: 2rem;
    transform: scaleX(1.5) scaleY(4); /* Center and stretch vertically */
    text-align: center; /* Ensure text stays centered */
    margin-top: 50px;
}


.youtube-video {
    width: 22vw;
    height: 20vh;
    margin-bottom: 20px;
}

.arrow {
    width: 5vw;
    height: auto;
    animation: wiggle 0.5s infinite ease-in-out; /* Apply the animation */
    margin-top: 30px; /* Adjust this value to lower the arrow */

}

/* Keyframes for wiggling up and down */
@keyframes wiggle {
    0%, 100% {
        transform: translateY(0); /* Initial position */
    }
    50% {
        transform: translateY(-10px); /* Move up by 10px */
    }
}