
@font-face {
    font-family: 'PressStart2P';
    src: url('../pressStart2.ttf') format('truetype');
}

.container {
    position: absolute; /* Position relative to the parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-45%, -55%); /* Offset the image to perfectly center it */
}

.site-container {
    display: block;
    max-width: 100%; /* Optional: Make it responsive */
}

.enter {
    position: absolute;
    font-family: 'PressStart2P', sans-serif;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 6rem;
    z-index: 1;
    transition: all 0.2s ease; /* Smooth animation for the hover effect */
    box-shadow: -10px 10px 0px rgba(0, 0, 0, 1); /* Shadow falling from the left to the bottom */
}

.enter:hover {
    transform: translate(-50%, -50%) translate(-8px, 8px); /* Shift to match the shadow direction */
    box-shadow: none; /* Remove shadow on hover */
}

@media (max-width: 600px) {
    .enter {
        font-size: 1rem;
    }

    .site-container{
        width: 200vw;
    }
}



