/* Fonts and Global Styles */
@font-face {
    font-family: 'PressStart2P';
    src: url('../pressStart2.ttf') format('truetype');
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
}

/* Centered text */
.text {
    text-align: center;
    font-family: 'PressStart2P', sans-serif; /* Optional: Match the desired font */
    font-size: 2rem; /* Adjust size as needed */
    margin: 30px 0; /* Add spacing between lines */
    color: #000; /* Adjust text color */
}

.social-icons {
    display: flex;
    flex-direction: row; /* Arrange icons in a row */
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Align icons vertically in the middle */
    gap: 2vw; /* Add spacing between icons */
    margin-top: 20px; /* Space between text and icons */
}

.social-icons img {
    width: 9vw; /* Set consistent width for all icons */
    height: auto; /* Set consistent height for all icons */
    object-fit: contain; /* Maintain aspect ratio */
    cursor: pointer; /* Make icons clickable */
    transition: transform 0.2s; /* Add hover effect */
}

.social-icons img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

@media (max-width: 600px) {
    .social-icons img{
        width: 30vw;
        height: auto;
        position: relative;
        left: -5%;
    }

    .text{
        font-size: 1rem;
        text-align: center;
    }
}